/****** General ***********/
body {
    margin: 0;
}

* {
    font-family: 'Raleway', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;

}

.style {
    list-style: none;
    display: flex;
    gap: 20px;

}

.navbar a {
    text-decoration: none;
    padding: 15px;
}

.logo {
    height: 20px;
}

.styles:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 25px;

}

h2 {
    margin-bottom: 0px;
}

p.subtitle {
    font-size: 16px;
    color: #555;
    margin-top: 0;
    margin-bottom: 30px;

}

.icon {

    background-color: #e7e7e8;
    border: solid #e7e7e8 3px;
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px 0 0 8px;
    margin: -5px;
}


.search-input {
    flex: 1;
    border: solid rgb(218, 217, 217) 1px;
    outline: none;
    padding: 10px;
    font-size: 16px;
}

.search-button {
    background-color: #007bff;
    color: white;
    border: solid #007bff 1px;
    padding: 0px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    margin: -5px;
}

.loupe {
    visibility: hidden;
    background-color: #007bff;
    color: white;
    border: solid #007bff 1px;
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px 8px 8px 8px;

}

.btn {
    display: flex;
    gap: 15px;
}

.filters {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}


.filter-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid #c5c4c4;
    background: #ffffff;
    color: #000000;
    border-radius: 9999px;
    padding: 12px 12px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.filter-btn:hover {
    background: #d6eaff;
}

.info-box {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.info-box .info {
    border: solid rgb(223, 223, 223) 1px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

.box {
    padding-top: 50px;
    padding-bottom: 25px;
}

.activites {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;
    padding-bottom: 60px;
}

.paper {
    width:240px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background: #ffffff;
}



.paper img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.paper p {
    margin: 12px 10px;
    font-weight: bold;
}

footer {
    background: #f2f2f2;
    margin-top: auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
}

footer div {
    min-width: 10px;
}

footer h4 {
    margin-bottom: 10px;
    font-size: 15px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin-bottom: 6px;
}

footer a {
    text-decoration: none;
    color: #5d5d5d;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --main-icon-color: #000
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.neutral {
    color: var(--main-icon-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    width: 65%;
}

.hebergements h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}


.card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-content {
    padding: 10px 1px;
}

.hebergements .card-title {
    margin-top: 1px;
    margin-bottom: 4px;
}

.hebergements .card-subtitle {
    margin: 0;
}



/****** Populaires ***********/
.populaires {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 65%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites {
        display: flex;
        flex-wrap: nowrap;
    }

    .paper {
        width: 99%;
        height: 300px;
    }

    .paper img {
        height: 200px;

    }

    .paper p {
        padding: 20px;
        margin: 10px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .navbar {
        display: flex;
        flex-direction: column;
        font-size: 30px;
    }

    .styles:hover {
        color: #0065FC;
        border-top: none;
        padding-top: none;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 25px;

    }

    .style {
        border-bottom: 3px solid rgb(217, 217, 217);
        padding-bottom: 25px;
        display: flex;
        justify-content: end;
        padding-left: 0%;

    }

    .logo {
        display: flex;
        justify-content: center;
        height: 30px;
    }

    .btn {
        display: flex;
        flex-wrap: wrap;
    }

    .filters {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 20px;
    }

    .loupe {
        visibility: visible;
        background-color: #0065FC;
        color: var(--filter-bg-color);
        margin-left: -200px;



    }

    .search-button {
        visibility: hidden;
    }

    h2 {
        margin-bottom: 0px;
        margin: 20px;
    }

    p.subtitle {
        margin: 20px;
    }

    .icon {
        margin-left: 20px;
    }

    .info-box {
        margin-left: 20px;
    }


    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        border-radius: 0px;
        height: 100%;
        width: 100%;

    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
    }


    .hebergements {
        background: none;
    }


    .main-container {
        padding: 0px;
    }

    .activites {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .paper {
        width: 89%;
        height: 100%;
    }

    .paper img {
        height: 200px;

    }

    .paper p {
        padding: 20px;
        margin: 10px;
    }

    footer {
        display: flex;
        flex-direction: column;
        text-align: start;

    }
}